<ul class="education">
  <li class="title-list">EDUCATION</li>
  <li>
    <i class="fa fa-university" aria-hidden="true"></i>
    <%= education.school %>
  </li>
  <li><span>Start time:</span> <%= education.startdate %></li>
  <li><span>End time:</span> <%= education.enddate %></li>
  <li><span>Level:</span> <%= education.description %></li>
</ul>
