<ul class="experience">
  <li class="title-list">EXPERIENCE</li>
  <li><span>Start time:</span><%= experience.startdate %></li>
  <li><span>End time:</span><%= experience.enddate %></li>
  <li><span>Company:</span> <%= experience.company %></li>
  <li><span>Experienced:</span> <%= experience.description %></li>
</ul>
